In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('/home/prateek/Prateek/LaunchPad/week6/Day2/src/data/processed/final.csv')
df.head()

   Survived  Pclass  Sex       Age  Embarked_S  Embarked_C
0         0       3    1  0.271174           1           0
1         1       1    0  0.472229           0           1
2         1       3    0  0.321438           1           0
3         1       1    0  0.434531           1           0
4         0       3    1  0.434531           1           0

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Sex         891 non-null    int64
 3   Age         891 non-null    float64
 4   Embarked_S  891 non-null    int64
 5   Embarked_C  891 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 41.9 KB

In [7]:
# Features and target
X = df.drop(columns=['Survived'])
y = df['Survived']

# Stratified split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

print(f"Train: {X_train.shape}, Test: {X_test.shape}")

Train: (712, 5), Test: (179, 5)