In [1]:
import sys
sys.executable

'/home/prateek/Prateek/LaunchPad/week6/Day1/src/.venv/bin/python'

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
curr_dir = os.getcwd() 
rawDataPath = os.path.join(curr_dir, '..', 'data', 'raw', 'data.csv')
PROCESSED_PATH = os.path.join(curr_dir, '..', 'data', 'processed', 'processed_data.csv')

DF = pd.read_csv(rawDataPath)

In [4]:
DF.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
DF.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
DF.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"], inplace=True, errors="ignore")

# handle missing values
# Age -> median
if "Age" in DF.columns:
    DF["Age"].fillna(DF["Age"].median(), inplace=True)

# Embarked -> mode
if "Embarked" in DF.columns:
    DF["Embarked"].fillna(DF["Embarked"].mode()[0], inplace=True)

# remove duplicates
DF.drop_duplicates(inplace=True)

# handle outliers (Fare)
if "Fare" in DF.columns:
    Q1 = DF["Fare"].quantile(0.25)
    Q3 = DF["Fare"].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    DF["Fare"] = np.clip(DF["Fare"], lower, upper)

# encoding made = 0, female = 1
if "Sex" in DF.columns:
    DF["Sex"] = DF["Sex"].map({"male": 0, "female": 1})

# Embarked -> one-hot
if "Embarked" in DF.columns:
    DF = pd.get_dummies(DF, columns=["Embarked"], drop_first=True)

# save final cleaned data
DF.to_csv(PROCESSED_PATH, index=False)
DF.shape

/tmp/ipykernel_32182/2022653045.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DF["Age"].fillna(DF["Age"].median(), inplace=True)
/tmp/ipykernel_32182/2022653045.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DF["Embarked"].fillna(DF["Embarked"].mode()[0], inplace=True)

(775, 9)